table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f4f5f7;
  /* background-color: rgb(200, 200, 200); */
  /* bac */
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.sidenav a.active {
  background-color: green;
  font-weight: 600;
}

.sidenav a:hover {
  color: yellow;
}

main {
  margin-left: 200px; /* Same as the width of the sidenav */
  /* font-size: 28px; Increased text to enable scrolling */
  padding: 0px 10px;
}

.sort {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  position: relative;
  width: fit-content;
}

.main-sort {
  cursor: pointer;
}

.sort-buttons {
  position: absolute;
  left: 60px;
  width: 200px;
  flex-wrap: wrap;
  display: none;
  gap: 5px;
}

.sort-buttons button {
  cursor: pointer;
}

.sort-buttons.active {
  display: flex;
  z-index: 2;
  background-color: darkgrey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.progress {
  height: 50px;
  width: 80%;
  background-color: #818181;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 30px;
}

.progress-bar {
  width: 50%;
  background-color: white;
  height: 10px;
  border-radius: 30px;
  overflow: hidden;
}

.pcolor {
  width: 75%;
  background-color: green;
  height: 10px;
}

.ptext {
  color: white;
  font-size: 14px;
}

i {
  margin-right: 15px;
  font-size: 15px;
  color: black;
}

.hello {
  width: 300px;
  height: 400px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
  /* padding-top: 50px; */
}

.hy {
  color: #ddd;
}
.hellox {
  width: 200px;
  height: 400px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
  /* padding-top: 50px; */
}

.bars {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: flex-end;
  margin-top: auto;
  /* border-bottom: 2px solid black; */
}

.ba {
  height: 150px;
  width: 50px;
  background-color: aqua;
  border-radius: 5px;
  margin-top: auto;
}

.ba.nne {
  height: 100px;
  width: 50px;
  background-color: aqua;
  border-radius: 5px;
  margin-top: auto;
}

.pop-up {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 14px;
}

.pop-up:hover {
  cursor: pointer;
}

.button-explanation {
  background-color: darkgray;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40%;
  border-radius: 15px;
  z-index: 2;
}
.button-explanation.active {
  display: flex;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 25px;
}

.close-button:hover {
  cursor: pointer;
}

.overlay.active {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
